@import '../sass/utils/_variables.scss';
@import "../sass/utils/mixins.scss";
@import "../sass/components/animations.scss";
@import "../sass/components/loader.scss";
@import "../sass/utils/keyframes.scss";
@import "../sass/components/loader.scss";
@import "../sass/components/boutons.scss";
@import "../sass/layouts/header.scss";
@import "../sass/components/lieu.scss";
@import "../sass/pages/body.scss";
@import "../sass/components/fonctionnement.scss";
@import "../sass/components/restaurant-list.scss";
@import "../sass/layouts/footer.scss";
@import "../sass/pages/restaurant/card.scss";
@import "../sass/pages/restaurant/plats.scss";
@import "../sass/pages/restaurant/presentation-plats.scss";









