@import '../sass/utils/_variables.scss';
@import "../sass/utils/mixins.scss";
@import "../sass/components/animations.scss";
@import "../sass/components/loader.scss";
@import "../sass/utils/keyframes.scss";
@import "../sass/components/loader.scss";
@import "../sass/components/boutons.scss";
@import "../sass/layouts/header.scss";
@import "../sass/pages/index.scss";
@import "../sass/base/page.scss";
@import "../sass/pages/restaurant/body-restaurant.scss";
@import "../sass/layouts/footer.scss";
@import "../sass/pages/restaurants";









