body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  height: auto;
  text-align: center;
}
header img {
  width: 45vw;
  margin-top: 5vw;
  margin-bottom: 3.8vw;
}

.lieu {
  background-color: #f7f7f7;
  width: 100%;
  height: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lieu__header {
  background-color: #e6e6e6;
  width: 100%;
  height: 13vw;
  display: flex;
  flex-direction: row;
  box-shadow: inset 0vw 3vw 1vw -2vw #cccccc;
}
.lieu__header i {
  font-size: 4.4vw;
  margin-right: 4.5vw;
  margin-left: 28vw;
  margin-top: 4.6vw;
}
.lieu__header p {
  font-weight: 700;
  font-size: 4.4vw;
}
.lieu__body {
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.lieu__body h1 {
  font-size: 6.8vw;
  text-align: center;
  margin-top: 9vw;
  margin-bottom: 3vw;
}
.lieu__body p {
  font-size: 4.5vw;
  margin-top: 0;
  margin-bottom: 7vw;
}
.lieu__body button {
  width: 53vw;
  height: 11vw;
  font-size: 4vw;
  color: white;
  background: linear-gradient(357deg, #9356DC, #FF79DA);
  border: none;
  box-shadow: 0vw 0.6vw 5vw 0.2vw #e0dede;
  border-radius: 25vw;
}

.fonctionnement {
  width: 100%;
  height: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fonctionnement h2 {
  text-align: left;
  width: 90vw;
  font-size: 6.8vw;
}
.fonctionnement__div {
  width: 86vw;
  height: 17vw;
  background-color: #f7f7f7;
  box-shadow: 0vw 0.6vw 5vw 0.2vw #e0dede;
  margin-bottom: 6vw;
  border-radius: 5.4vw;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.fonctionnement__div:hover {
  background-color: #f2eafb;
}
.fonctionnement__div:hover i {
  color: #9356DC;
}
.fonctionnement span {
  background-color: #9356DC;
  width: 6.2vw;
  height: 6.2vw;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  color: white;
  margin-left: -2.7vw;
  margin-right: 5vw;
}
.fonctionnement i {
  margin-right: 5vw;
  font-size: 5vw;
}
.fonctionnement p {
  font-size: 5vw;
  text-shadow: red;
}

.restaurant {
  background-color: #f7f7f7;
  padding: 4.5vw;
}
.restaurant a {
  text-decoration: none;
  color: black;
}
.restaurant h2 {
  font-size: 6.8vw;
}
.restaurant__div {
  height: 75vw;
  border-radius: 6vw;
  margin-bottom: 6vw;
  background-color: white;
  box-shadow: 0vw 0.6vw 5vw 0.2vw #e0dede;
}
.restaurant__div div {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  margin-left: 2vw;
  justify-content: center;
}
.restaurant__heart {
  position: absolute;
  font-size: 6.4vw;
  right: 10vw;
  margin-top: 1vw;
}
.restaurant__heart-like {
  background-size: 100%;
  font-size: 6.4vw;
  right: 10vw;
  margin-top: 1vw;
  position: absolute;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  transform-origin: center;
  background-image: linear-gradient(357deg, #9356DC, #FF79DA);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.42, 0, 0.73, 2.29);
}
.restaurant__heart-like:hover {
  opacity: 1;
  transform: scale(1.12);
  width: 6.579vw;
}
.restaurant h3 {
  margin-top: 1.5vw;
  margin-bottom: 1vw;
  font-size: 5vw;
}
.restaurant p {
  margin-top: 0.5vw;
  margin-bottom: 0;
  font-size: 4.7vw;
}
.restaurant img {
  width: 100%;
  height: 56vw;
  border-radius: 6vw 6vw 0 0;
  object-fit: cover;
}

.footer {
  width: 100%;
  height: 50vw;
  background-color: #242424;
  color: white;
  padding-top: 5vw;
}
.footer__logo {
  font-family: Shrikhand;
  font-size: 6vw;
  margin-left: 8.5vw;
}
.footer p {
  margin-left: 8.5vw;
  font-size: 3.8vw;
}
.footer .fa-hands-helping {
  font-size: 2.8vw;
}

/* PAGE RESTAURANT LA PALETTE DU GOUT */
.body__image {
  width: 100%;
}

.la-palette-du-gout {
  background-color: #f7f7f7;
  border-radius: 12vw 12vw 0 0;
  margin-top: -13vw;
  position: relative;
  padding-bottom: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.la-palette-du-gout__h1 {
  font-family: Shrikhand;
  font-weight: 500;
  margin-left: 4.5vw;
  margin-top: 0;
  padding-top: 8vw;
  font-size: 6.8vw;
  display: flex;
  width: 95vw;
}
.la-palette-du-gout__div {
  height: auto;
  margin-bottom: 10vw;
  width: 95vw;
}
.la-palette-du-gout__div h2 {
  font-size: 5vw;
  font-weight: 500;
  margin-bottom: 0.8vw;
  margin-left: 1.7vw;
}
.la-palette-du-gout__div span {
  display: block;
  width: 13vw;
  border-bottom: 0.9vw solid #99E2D0;
  margin-bottom: 3vw;
  margin-left: 2vw;
}
.la-palette-du-gout__div div {
  height: 19vw;
  width: 100%;
  background-color: white;
  border-radius: 4vw;
  margin-bottom: 5vw;
  box-shadow: 0vw 0.6vw 5vw 0.2vw #e0dede;
}
.la-palette-du-gout button {
  width: 45vw;
  height: 11vw;
  font-size: 4vw;
  color: white;
  background: linear-gradient(357deg, #9356DC, #FF79DA);
  border: none;
  box-shadow: 0vw 0.6vw 5vw 0.2vw #e0dede;
  border-radius: 25vw;
}

/*# sourceMappingURL=style.css.map */
