@keyframes slidedown {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  height: auto;
  text-align: center;
}
header img {
  width: 45vw;
  margin-top: 5vw;
  margin-bottom: 3.8vw;
}
header a {
  text-decoration: none;
  color: black;
}
header i {
  font-size: 5vw;
  position: absolute;
  left: 7.1vw;
  top: 6.6vw;
}

.lieu {
  background-color: #f7f7f7;
  width: 100%;
  height: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lieu__header {
  background-color: #e6e6e6;
  width: 100%;
  height: 13vw;
  display: flex;
  flex-direction: row;
  box-shadow: inset 0vw 3vw 1vw -2vw #cccccc;
}
.lieu__header i {
  font-size: 4.4vw;
  margin-right: 4.5vw;
  margin-left: 28vw;
  margin-top: 4.6vw;
}
.lieu__header p {
  font-weight: 700;
  font-size: 4.4vw;
}
.lieu__body {
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.lieu__body h1 {
  font-size: 6.8vw;
  text-align: center;
  margin-top: 9vw;
  margin-bottom: 3vw;
}
.lieu__body p {
  font-size: 4.5vw;
  margin-top: 0;
  margin-bottom: 7vw;
}
.lieu__body button {
  width: 53vw;
  height: 11vw;
  font-size: 4vw;
  color: white;
  background: linear-gradient(357deg, #9356DC, #FF79DA);
  border: none;
  box-shadow: 0vw 0.6vw 5vw 0.2vw #e0dede;
  border-radius: 25vw;
}

.fonctionnement {
  width: 100%;
  height: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fonctionnement h2 {
  text-align: left;
  width: 90vw;
  font-size: 6.8vw;
}
.fonctionnement__div {
  width: 86vw;
  height: 17vw;
  background-color: #f7f7f7;
  box-shadow: 0vw 0.6vw 5vw 0.2vw #e0dede;
  margin-bottom: 6vw;
  border-radius: 5.4vw;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.fonctionnement__div:hover {
  background-color: #f2eafb;
}
.fonctionnement__div:hover i {
  color: #9356DC;
}
.fonctionnement span {
  background-color: #9356DC;
  width: 6.2vw;
  height: 6.2vw;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  color: white;
  margin-left: -2.7vw;
  margin-right: 5vw;
}
.fonctionnement i {
  margin-right: 5vw;
  font-size: 5vw;
}
.fonctionnement p {
  font-size: 5vw;
  text-shadow: red;
}

.restaurant {
  background-color: #f7f7f7;
  padding: 4.5vw;
}
.restaurant a {
  text-decoration: none;
  color: black;
}
.restaurant h2 {
  font-size: 6.8vw;
}
.restaurant__div {
  height: 65vw;
  border-radius: 6vw;
  margin-bottom: 6vw;
  background-color: white;
  box-shadow: 0vw 0.6vw 5vw 0.2vw #e0dede;
}
.restaurant .nouveau {
  background-color: #99E2D0;
  width: 21.7vw;
  height: 7.5vw;
  display: flex;
  border-radius: 0.5vw;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 3vw;
  right: 8vw;
  font-size: 3.8vw;
  font-weight: 700;
  color: #278870;
}
.restaurant__div div {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  margin-left: 2vw;
  justify-content: center;
}
.restaurant__heart {
  position: absolute;
  font-size: 6.4vw;
  right: 10vw;
  margin-top: 1.7vw;
}
.restaurant__heart-like {
  background-size: 100%;
  font-size: 6.4vw;
  right: 10vw;
  margin-top: 1.7vw;
  position: absolute;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  transform-origin: center;
  background-image: linear-gradient(357deg, #9356DC, #FF79DA);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.42, 0, 0.73, 2.29);
}
.restaurant__heart-like:hover {
  opacity: 1;
  transform: scale(1.12);
  width: 6.579vw;
}
.restaurant h3 {
  margin-top: 1.5vw;
  margin-bottom: 1vw;
  font-size: 5vw;
}
.restaurant p {
  margin-top: 0.5vw;
  margin-bottom: 0;
  font-size: 4.7vw;
}
.restaurant img {
  width: 100%;
  height: 47vw;
  border-radius: 6vw 6vw 0 0;
  object-fit: cover;
  object-position: center;
}

.footer {
  width: 100%;
  height: 50vw;
  background-color: #242424;
  color: white;
  padding-top: 5vw;
}
.footer__logo {
  font-family: Shrikhand;
  font-size: 6vw;
  margin-left: 8.5vw;
}
.footer p {
  margin-left: 8.5vw;
  font-size: 3.8vw;
}
.footer .fa-hands-helping {
  font-size: 2.8vw;
}

/* PAGE RESTAURANT  */
.body__image {
  width: 100%;
  height: 65vw;
  object-fit: cover;
}

.presentation {
  background-color: #f7f7f7;
  border-radius: 12vw 12vw 0 0;
  margin-top: -13vw;
  position: relative;
  padding-bottom: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.presentation__h1 {
  font-family: Shrikhand;
  font-weight: 500;
  margin-left: 4.5vw;
  margin-top: 0;
  padding-top: 8vw;
  font-size: 7.5vw;
  display: flex;
  width: 95vw;
}
.presentation__div {
  height: auto;
  margin-bottom: 4vw;
  width: 95vw;
}
.presentation__div h2 {
  font-size: 5vw;
  font-weight: 500;
  margin-bottom: 0.8vw;
  margin-left: 1.7vw;
}
.presentation__div span {
  display: block;
  width: 13vw;
  border-bottom: 0.9vw solid #99E2D0;
  margin-bottom: 3vw;
  margin-left: 2vw;
}
.presentation .plat {
  height: 20vw;
  width: 100%;
  background-color: white;
  border-radius: 4.3vw;
  margin-bottom: 5vw;
  box-shadow: 0vw 0.6vw 5vw 0.2vw #e0dede;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  animation: slidedown 1s;
}
.presentation .delay-1 {
  animation-delay: 0.1s;
}
.presentation .delay-2 {
  animation-delay: 0.2s;
}
.presentation .delay-3 {
  animation-delay: 0.3s;
}
.presentation .delay-4 {
  animation-delay: 0.4s;
}
.presentation .delay-5 {
  animation-delay: 0.5s;
}
.presentation .delay-6 {
  animation-delay: 0.6s;
}
.presentation .delay-7 {
  animation-delay: 0.7s;
}
.presentation .delay-8 {
  animation-delay: 0.8s;
}
.presentation .delay-9 {
  animation-delay: 0.9s;
}
.presentation .delay-10 {
  animation-delay: 1s;
}
.presentation .plat__text {
  font-size: 4vw;
  margin-left: 3.7vw;
  width: 70vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.presentation .plat__text h3 {
  margin-top: 4vw;
  margin-bottom: 2vw;
  font-size: 4.7vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.presentation .plat__text p {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.presentation .plat__prix {
  font-size: 4vw;
  margin-top: 12vw;
  margin-right: 7vw;
  margin-left: 8vw;
}
.presentation .confirmation {
  width: 0;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: right;
  transform: scaleX(0);
  transition: all 0.7s;
}
.presentation .plat:hover .confirmation {
  transform: scaleX(1);
  width: 17vw;
}
.presentation .confirmation__icon {
  color: #99E2D0;
  background-color: white;
  width: 6.5vw;
  height: 6vw;
  padding-top: 0.5vw;
  display: flex;
  font-size: 4vw;
  justify-content: center;
  align-items: center;
  border-radius: 20vw;
  transform: rotate(360deg);
  transition-duration: 0.9s;
}
.presentation .plat:hover .confirmation__icon {
  transform: rotate(0);
}
.presentation button {
  width: 45vw;
  height: 11vw;
  font-size: 4vw;
  color: white;
  background: linear-gradient(357deg, #9356DC, #FF79DA);
  border: none;
  box-shadow: 0vw 0.6vw 5vw 0.2vw #e0dede;
  border-radius: 25vw;
  margin-top: 6vw;
}

/*# sourceMappingURL=style.css.map */
