/* ANIMATION AU SURVOLE DANS LA SECTION FONCTIONNEMENT */
@mixin hover-fonctionnement {
    &:hover{
        background-color: lighten($primaire, 35);
        i{
            color: $primaire;
        }
    }
}
/* ANIMATION AU SURVOLE POUR LES LIKES */
@mixin hover-like {
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        transform-origin: center;
        background-image: linear-gradient(357deg, $primaire ,$secondaire);
        opacity: 0;
        transition: all 0.3s cubic-bezier(0.42, 0, 0.73, 2.29);
        &:hover{
           opacity: 1;
           transform: scale(1.12);
        }
}
@mixin confirmation-plat {
    .confirmation{
        width: 0;
        background-color: $tertiaire;
        display: flex;
        align-items: center;
        justify-content: center;
        transform-origin: right;
        transform: scaleX(0);
        transition: all 0.7s;
        @include desktop-only{
            transition: transform 0.5s, width 0.15s;
        }
    }
    .plat:hover .confirmation{
        transform: scaleX(1);
        width: 17vw;
    }
    .confirmation__icon{
        color: $tertiaire;
        background-color: white;
        width: 6.5vw;
        height: 6vw;
        padding-top: 0.5vw;
        display: flex;
        font-size: 4vw;
        justify-content: center;
        align-items: center;
        border-radius: 20vw;
        transform: rotate(360deg);
        transition-duration: 0.9s;
    }
    .plat:hover .confirmation__icon{
        transform: rotate(0);
    }
    @include desktop-only{
        .plat:hover .confirmation{
            transform: scaleX(1);
            width: 15vw;
        }
        .confirmation__icon{
            width: 2.5vw;
            height: 2.5vw;
            padding-top: 0;
            font-size: 1.2vw;
        }
    }
} 