/* BOUTTON HOME PAGE */
.boutton {
    width: 53vw;
    height: 11vw;
    font-size: 4vw;
    color: white;
    background: linear-gradient(357deg, $primaire ,$secondaire);
    border: none;
    box-shadow: $boutton-shadow;
    border-radius: 25vw;
    &:focus{
        outline:0;
    }
    &:hover{
        box-shadow: 0vw 0vw 0.5vw 0.01vw rgb(122, 122, 122);
        background: linear-gradient(357deg, #a16be0 ,#ff93e1);
    }
    @include tablette-only{
        font-size: 3.5vw;
        width: 49vw;
    }
    @include desktop-only{
        font-size: 1.1vw;
        width: 15vw;
        height: 3vw;
    }
}
/* BOUTTON PAGE RESTAURANT */
.boutton-restaurant{
    width: 45vw;
    height: 11vw;
    font-size: 4vw;
    color: white;
    background: linear-gradient(357deg, $primaire ,$secondaire);
    border: none;
    box-shadow: $boutton-shadow;
    border-radius: 25vw;
    margin-top: 6vw;
    &:focus{
        outline:0;
    }
    &:hover{
        box-shadow: 0vw 0vw 0.5vw 0.01vw rgb(122, 122, 122);
        background: linear-gradient(357deg, #a16be0 ,#ff93e1);
    }
    @include tablette-only{
        margin-top: 3vw;
        font-size: 3vw;
        width: 33vw;
        height: 7vw;
    }
    @include desktop-only{
        margin-top: 3vw;
        font-size: 1.3vw;
        width: 14vw;
        height: 3vw;
    }
}