.presentation{
    background-color: $gris-clair;
    border-radius: 12vw 12vw 0 0;
    margin-top: -13vw;
    position: relative;
    padding-bottom: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop-only{
        width: 55vw;
        margin-top: 5vw;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5vw 5vw 0 0;
        padding-bottom: 5vw;
    }
    &__h1{
        font-family: Shrikhand;
        font-weight: 500;
        margin-left: $margin-left-page;
        margin-top: 0;
        padding-top: 8vw;
        font-size: 7.5vw;
        display: flex;
        width: 95vw;
        @include tablette-only{
            font-size: 6.5vw;
            align-items: center;
        }
        @include desktop-only{
            font-size: 3vw;
            width: 32vw;
            padding-top: 2vw;
            margin-bottom: 0;
        }
    }
    &__div{
        height: auto;
        margin-bottom: 4vw;
        width: 95vw;
        @include desktop-only{
            width: 55vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 1vw;
        }
    }
    &__div h2{
        font-size: 5vw;
        font-weight: 500;
        margin-bottom: 0.8vw;
        margin-left: 1.7vw;
        @include tablette-only{
            text-align: center;
            margin-left: 0;
        }
        @include desktop-only{
            font-size: 2vw;
            margin-bottom: 0;
        }
    }
    &__div span{
        display: block;
        width: 13vw;
        border-bottom: 0.9vw solid $tertiaire;
        margin-bottom: 3vw;
        margin-left: 2vw;
        @include tablette-only{
            margin-left: auto;
            margin-right: auto;
            width: 16vw;
        }
        @include desktop-only{
            width: 9vw;
            margin-bottom: 1vw;
            border-bottom: 0.3vw solid $tertiaire;
        }
    }
    @include plats;
}