body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* RESTAURANT */
.restaurant-body-img{
    width: 100%;
    height: 60vw;
    object-fit:cover;
    @include desktop-only{
        position: absolute;
        height: 93.65vw; 
    }
}