@mixin roboto {
    font-weight: 700;
}
@mixin roboto-bold {
    font-weight: 900;
}
@mixin ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@mixin tablette-only {
    @media screen and(min-width: map-get($breakpoints, tablette)){
        @content;
    }
}
@mixin desktop-only {
    @media screen and(min-width: map-get($breakpoints, desktop)){
        @content;
    }
}
@mixin rond-loader {
        border-left: 0.8vw solid transparent;
        border-right: 0.8vw solid transparent;
        border-bottom: 0.8vw solid transparent;
        position: absolute;
        border-radius: 100%;
        @include tablette-only{
            border-left: 0.6vw solid transparent;
            border-right: 0.6vw solid transparent;
            border-bottom: 0.6vw solid transparent;
        }
        @include desktop-only{
            border-left: 0.3vw solid transparent;
            border-right: 0.3vw solid transparent;
            border-bottom: 0.3vw solid transparent;
        }
}
@mixin boucle {
    @for $i from 1 through 10 {
        .delay-#{$i}{
            animation-delay: #{$i/10}s;
        }
    }
}