header{
    width: 100%;
    height: auto;
    text-align: center;
    img{
        width: 45vw;
        margin-top: 5vw;
        margin-bottom: 3.8vw;
    }
    a{
        text-decoration: none;
        color: black;
    }
    i{
        font-size: 5vw;
        position: absolute;
        left: 7.1vw;
        top: 6.6vw;
    }
}